
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "client_style.css" %}">
</head>
<body>
<h3>{% block subtitle %}
	
{% endblock subtitle %}</h3>
<a href="{% url 'client:login' %}">login</a>
<a href="{% url 'client:edit_password' %}">actualizar password</a>
<a href="{% url 'client:edit' %}">editar usuario</a>
<a href="{% url 'client:create' %}">crear cliente</a>
<a href="{% url 'client:logout' %}">salir</a>
{% if messages %}
	<ul>
	{% for message in messages %}
	<li {% if message.tags %} class="{{message.tags}}_message" {% endif %} >
	{{ message }}</li>	
	{% endfor %}
	</ul>
{% endif %}

<a href="{% url 'client:dashboard'%}">dashboard</a> 
{% block content %}
	
{% endblock content %}
</body>
</html>
