<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}
		
	{% endblock title %}</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="">
	{% block scripts %}
		
	{% endblock scripts %}

</head>
<body>
	<header>
	<nav>
    <div class="nav-wrapper blue">
      <a href="#" class="brand-logo">home</a>
      	<ul id="nav-mobile" class="right hide-on-med-and-down">
        	<li><a href="{% url 'client:login' %}">Login</a></li>
       		<li><a href="{% url 'client:create' %}">Register</a></li>
      	</ul>
    </div>
  	</nav>
  	</header>

{% if messages %}
	<ul>
	{% for message in messages %}
	<li {% if message.tags %} class="{{message.tags}}_message" {% endif %} >
	{{ message }}</li>	
	{% endfor %}
	</ul>
{% endif %}
{% block content %}
	
{% endblock content %}

{% block footer %}
	
{% endblock footer %}
</body>
</html>