{% extends "clients/bases/base_client.html" %}

{% block title %}
	Editar Proyecto
{% endblock title %}

{% block scripts %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}">
{% endblock  %}

{% block content %}

<div class="class_container_form">
  <form method="post" action="">
	{% csrf_token %}
	{% include "includes/_forms.html" with form=form_project only %}

	{% include "includes/_forms.html" with form=forms_status only %}

	<input class="btn #9e9e9e blue" type="submit" value="Actualizar">
</form>
</div>
{% endblock  %}
{% block footer %}
	
{% endblock footer %}