{% extends "clients/bases/base_client.html" %}

{% block title %}
	Mis Proyectos
{% endblock title %}

{% block scripts %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}">
{% endblock  %}

{% block content %}
	<a href="{% url 'project:create' %}">Crear Proyecto</a>

{% for project_user in object_list %}

{% with project_user.getProject as project  %}
	<h4>
		<li>
		<a href="{% url 'project:show' project.slug %}"> {{project.title}}</a>
		</li>
	</h4> 
{% endwith %}

{% endfor %}

{% endblock  %}