
{% extends "clients/bases/base_client.html" %}

{% block title %}
	Cambiar Password
{% endblock title %}

{% block scripts %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}">
{% endblock  %}

{% block content %}
<div class="class_container_form">
  <form method="post" action="">
	{% csrf_token %}

	{% for field in form %}
		<div class="row">
			<div class="input-field col s12">
				{{field}}
				<label class="{% for class in field.label_classes %} {{class}}
				{% endfor %}" for="{{field.name}}">{{field.label}}
				</label>
			</div>
		</div>
	{% endfor %}
	<input class="btn #9e9e9e blue" type="submit" value="Actualizar">

{% endblock  %}