{% extends "clients/bases/base_client.html" %}
{% load client_extras %}

{% block title %} Perfil{% endblock title %}

{% block scripts %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}">
{% endblock  %}

{% block content %}
	<h4>Tú perfil {{ user.username|title }}</h4>
	<h6> Nombre: {{user.first_name}} {{user.last_name}}</p>
	<p> trabajo: {{user.client.job}}</p>
	<p >Biografía : {{user.client.bio|truncatechars:200}}</p>

	<h5>Contacto</h5>
	{% for field in user.socialnetwork|list_field  %}
		{% with user.socialnetwork|get_value:field as value  %}
			{% if value %}		
				<li>
				{{field}}: <a href={{value}}>{{value}}</a>
				</li>
			{% endif %}
		{% endwith %}
	{% endfor %}

{% endblock  %}